body {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 60em;
    * {
        max-width: 100%;
    }
}

code {
    background-color: #5a5a5a;
    color: white;
    display: block;
    padding: 1em 1.5em;
    border-left: 1em solid #24bce0;
    &.lang-css {
        border-color: #24bce0;
    }
    &.lang-html {
        border-color: #e05724;
    }
}