body {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 60em;
    * {
        max-width: 100%;
    }
}

code {
    background-color: #414141;
    color: white;
    display: inline-block;
    padding: 1em 1.5em;
}